<footer class="mt-auto">
    <div class="message-wrapper text-center mt-5">
        <span>Email: alin@flowmanger.ro</span> &nbsp; &nbsp; &nbsp;
        
        <span>All rights recived Flowmanger®</span> 
    </div>
  
</footer>