
<!DOCTYPE html>
<html>
<head>
  <style>
    @font-face {
  font-family: 'NoirProRegular'; 
  src: url('../../public/font/NoirPro-Regular.woff') format('truetype'); 
}

    body {
      font-family: NoirProRegular, sans-serif;
    }
    .container {
      height: 100vh;
      width: 100%;
      padding: 20px;
      background-color: #fff9f1;
      position: absolute;
    }
    h1{
        font-size: 1.3rem;
    }
    img{
      height: 60vh;
      margin-left: 70%;
    }

  </style>
</head>
<body>
  <div class="container">
    <h1>Utilizatorul <%=name%>  <%=action%>!</h1>
      <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1693141028/layout_qcd3qn.png" alt="logo">
  </div>

</body>
</html>