
<!DOCTYPE html>
<html>
<head>
  <style>
    @font-face {
  font-family: 'NoirProRegular'; 
  src: url('../../public/font/NoirPro-Regular.woff') format('truetype'); 
}

    body {
      font-family: NoirProRegular, sans-serif;
    }
    .container {
      height: 100vh;
      padding: 20px;
      width: 100%;
      background-color: #fff9f1;
      position: absolute;
    }
    h1{
        font-size: 1.3rem;
    }
    p{
        margin: 5px 0 5px 0;
        font-size: 0.9rem;
    }

    a{
     text-decoration: none;
     color: white;
    }

    .mesaj p {
      font-size: 0.75rem;
    }
    .mesaj {
      margin: 20px 0 10px 0;
    }

    .text{
      font-size: 0.75rem;
    }
    
    img{
      height: 60vh;
      margin-left: 70%;
    }

    .button{
        width: fit-content;
        margin: 10px 0 15px 0;
        background-color: #d8c5b8;
        padding: 8px 12px 8px 12px;
    }
    .button:active{
        background-color: rgba(234, 201, 177, 0.6);
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Salut <%=name%>! Bine ai venit la <%=locatie%>, ne bucuram că ne ești alături!</h1>
    <div class="mesaj">
      <p><%=message%></p>
      <p>*Dacă nu ți-ai creat cont la noi ignoră acest e-mail.</p>
    </div>
    <p>Te rugăm să-ți finalizezi înregistrarea accesând linkul de mai jos.</p>
    <div class="button">
        <a href="<%=link%>" style="color: #fff;">CLICK AICI</a>
    </div>
    <p class="text">Îți mulțumim și te așteptăm să ne vizitezi!</p>
      <!-- <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1693141028/layout_qcd3qn.png" alt="logo"> -->
  </div>

</body>
</html>