
<!DOCTYPE html>
<html>
<head>
  <style>
    @font-face {
  font-family: 'NoirProRegular'; 
  src: url('../../public/font/NoirPro-Regular.woff') format('truetype'); 
}

    body {
      font-family: NoirProRegular, sans-serif;
    }
    .container {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      height: 100vh;
      padding: 20px;
      background-color: #fff9f1;
    }
    h1{
        /* align-self: center; */
        font-size: 1.3rem;
    }
    p{
        /* align-self: center; */
        margin: 5px 0 5px 0;
        font-size: 0.9rem;
    }

    a{
     text-decoration: none;
     color: white;
    }

    .mesaj p {
      font-size: 0.75rem;
    }
    .mesaj {
      margin: 20px 0 10px 0;
    }

    .text{
      font-size: 0.75rem;
    }

    .img-wrapper{
      margin: auto 60px 0 auto;
    }
    img{
      height: 60vh;
    }

    .button{
        /* align-self: center; */
        width: fit-content;
        margin: 10px 0 15px 0;
        background-color: #d8c5b8;
        padding: 8px 12px 8px 12px;
    }
    .button:active{
        background-color: rgba(234, 201, 177, 0.6);
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Salut <%=name%>! Bine ai venit la True Fine Coffee, ne băucuram că ne ești alaturi!</h1>
    <div class="mesaj">
      <p>Acesta este un mesaj de resetare a parolei.</p>
      <p>*Dacă nu ai solicitat asta ignoră acest email.</p>
    </div>
    <p>Pentru a-ti reseta parola acceseaza linkul de mai jos.</p>
    <div class="button">
        <a href="<%=link%>">CLICK AICI</a>
    </div>
    <div class="img-wrapper">
      <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1693141028/layout_qcd3qn.png" alt="logo">
    </div>
  </div>

</body>
</html>